{
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "tabWidth": 4,
    "arrowParens": "always",
    "singleQuote": true,
    "jsxSingleQuote": false,
    "printWidth": 120,
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro",
                "bracketSameLine": true,
                "htmlWhitespaceSensitivity": "strict",
                "astroAllowShorthand": false
            }
        },
        {
            "files": ["*.jsx", "*.tsx"],
            "options": {
                "bracketSameLine": true,
                "htmlWhitespaceSensitivity": "css"
            }
        }
    ]
}
