---
import styles from './LinkCard.module.css';
import { INNSYN_UNGDOMSYTELSE_DELTAKER_URL } from 'astro:env/server';
import { logger } from '@src/utils/logger.ts';

logger.info(`pam-min-side-microfrontend ble lastet inn med redirectUrl lik ${INNSYN_UNGDOMSYTELSE_DELTAKER_URL}.`);
---

<a id={styles.linkcard} class="navds-panel navds-link-panel" href={INNSYN_UNGDOMSYTELSE_DELTAKER_URL}>
    <div class="navds-link-panel__content">
        <slot />
    </div>
    <svg
        id={styles.linkcardChevron}
        class="navds-link-panel__chevron"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        aria-hidden="true">
        <path d="M9 6l6 6-6 6" stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd"></path>
    </svg>
</a>

<script>
    import { logNavigerTilUngdomsprogramytelsen } from '@src/utils/analytics.ts';

    const linkCard = document.querySelector('#linkCard');
    linkCard?.addEventListener('click', logNavigerTilUngdomsprogramytelsen);
</script>
